@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    user-select: none;
}

header
{
    font-family: "Montserrat", sans-serif;
    display: inline;
    align-items: center;
    text-align: center;
}

header nav
{
    font-family: "Roboto", sans-serif;
}

header nav ul
{
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li
{
    display: inline;
    padding: 10px;
    margin: 15px;
    align-items: center;
}

header nav ul li a
{
    text-decoration: none;
}

#content
{
    font-family: "Poppins", sans-serif;
    display: block;
    padding: 0;
    margin: 15px;
}


footer
{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
}